# Ignore the eclipse configuration files


# Ignore Maven files
# Ignore classes files
.settings/
.settings/*
*.class
*.db
ehthumbs.db  
Thumbs.db 
/bin
/gen
# Other source repository archive directories (protects when importing)
